.about-section {
    position: relative;

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        height: calcPercent(900,1080)+vh;

        &__image {
            position: absolute;
            top: 0;
            left: 0;
            width: calcPercent(950,1920) + vw;
            height: 100%;

            .figure {
                &__item {
                    max-height: calcPercent(900,1080)+vh;

                    &-fill {
                        padding-bottom: 900 / 950 * 100%;
                    }
                }
            }

            + * {
                max-width: calcPercent(850,1920) + vw;
                margin-left: auto;
            }
        }
    }
}