.construction-menu {
  @include media-breakpoint-down(lg) {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    position: absolute;
    top: vw(500, 1920);
    left: 8.3vw;

    column-count: 3;

    transition: all 400ms ease-in;

    &-item {
      + * {
        margin-top: 0.5rem;
      }
    }

    @media screen and (min-width: 1440px) {
      column-count: 2;
    }

    &-link {
      font-family: $FontFamilySansSerif;
      font-weight: 400;
      color: $color-white;
      cursor: pointer;
      font-size: fluidSize(12, 14, 768, 1920);

      &:not([href]):not([tabindex]) {
        color: $color-white;

        &:hover {
          color: darken($color-white, 20%);
        }
      }
    }
  }
}
