.main-slider {
  &.is-active {
    .main-slider-slide {
      .image {
        &-sizer {
          @include media-breakpoint-down(lg) {
            padding-top: 100vh;
          }
        }

        &-bg {
          $val: 110%;
          max-width: $val;
          max-height: $val;
          min-width: $val;
          min-height: $val;
        }
      }

      &.travel-slide {
        .image {
          &-main {
            $val: 100%;
            max-width: $val;
            max-height: $val;
            min-width: $val;
            min-height: $val;

            @include media-breakpoint-up(xl) {
              $val: vw(2004, 1920);
              $heightVal: vw(1127, 1920);
              max-width: $val;
              max-height: $heightVal;
              min-width: $val;
              min-height: $heightVal;
            }
          }
        }
      }

      &.construction-slide {
        .image {
          &-main {
            $val: vw(582, 375);
            $heightVal: vw(436, 375);
            max-width: $val;
            max-height: $heightVal;
            min-width: $val;
            min-height: $heightVal;

            @include media-breakpoint-down(lg) {
              bottom: 0;
            }

            @include media-breakpoint-up(xl) {
              $val: vw(1192, 1920);
              $heightVal: vw(894, 1920);
              max-width: $val;
              max-height: $heightVal;
              min-width: $val;
              min-height: $heightVal;
            }
          }
        }
      }
    }
  }

  &-slide {
    .image {
      position: relative;
      overflow: hidden;
      margin: -1px;

      img {
        position: absolute;
        bottom: 0;
        right: 0;

        display: block;
        height: 0;
        width: 0;
        margin: 0 auto;

        padding: 0 !important;
        border: none !important;

        @include media-breakpoint-down(lg) {
          top: 0;
          left: 0;
        }
      }

      &-sizer {
        display: block;
        padding-top: calc((100% / var(--aspect-ratio)) - 100px);
        transition: all 400ms;

        @include media-breakpoint-up(xl) {
          // padding-top: 936 / 1920 * 100%;
          padding-top: calc(100% / var(--aspect-ratio));
          min-height: 100vh;
        }

        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
          padding-top: 1080 / 1920 * 100%;
          min-height: unset;
        }
      }

      &-main {
        object-fit: cover;
      }

      &-bg {
        transition: all 1s cubic-bezier(0.175, 0.885, 0.325, 1.125);
        left: 0;
        top: 0;
        $val: 100%;
        max-width: $val;
        max-height: $val;
        min-width: $val;
        min-height: $val;
        object-fit: cover;
      }
    }

    &.travel-slide {
      .image-main {
        $val: 100%;
        max-width: $val;
        max-height: $val;
        min-width: $val;
        min-height: $val;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.325, 1.125);

        @include media-breakpoint-up(xl) {
          $val: vw(2095, 1920);
          $heightVal: vw(1178, 1920);
          max-width: $val;
          max-height: $heightVal;
          min-width: $val;
          min-height: $heightVal;
        }
      }
    }

    &.construction-slide {
      .image {
        &-main {
          $val: vw(395, 375);
          $heightVal: vw(296, 375);
          max-width: $val;
          max-height: $heightVal;
          min-width: $val;
          min-height: $heightVal;
          transition: all 1s cubic-bezier(0.175, 0.885, 0.325, 1.125);

          @include media-breakpoint-down(lg) {
            top: unset;
            bottom: 0;
          }

          @include media-breakpoint-up(xl) {
            $val: vw(1454, 1920);
            $heightVal: vw(1091, 1920);
            max-width: $val;
            max-height: $heightVal;
            min-width: $val;
            min-height: $heightVal;
            bottom: vw(-120, 1920);
          }
        }

        &-bg {
          transition: all 400ms ease-in;
        }
      }
    }
  }
}
