.main-slider {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 20;
  transition: all 200ms ease-in;

  @include media-breakpoint-up(md) {
    height: 100vh;
  }

  %main-slider-titles {
    font-family: $FontFamilySerif;
    font-weight: 500;
    position: absolute;
  }

  &.is-active {
    .main-slider-title {
      transition: all $duration ease-out;
    }

    .main-slider-subtitle {
      transition: all $duration ease-out;
    }
  }

  &-title {
    @extend %main-slider-titles;
    color: $color-white;

    @include media-breakpoint-down(sm) {
      letter-spacing: vw(-1.03, 375);
    }

    @include media-breakpoint-up(md) {
      font-size: vw(140, 1920);
      line-height: 0.83;
    }
  }

  &-subtitle {
    @extend %main-slider-titles;

    position: absolute;
    line-height: 1.2;

    @include media-breakpoint-down(sm) {
      letter-spacing: vw(-0.73, 375);
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      font-size: vw(80, 1920);
    }
  }

  &-menu {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top: vw(600, 1920);
      right: vw(166, 1920);
      width: vw(650, 1920);
      transform: translateX(150%);
      transition: transform 1.25s cubic-bezier(0.175, 0.885, 0.32, 1.125);

      &-item {
        flex: 0 0 50%;
        max-width: 50%;
      }

      &-link {
        display: inline-block;
        font-family: $FontFamilySerif;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: vw(0.5, 1920);
        color: $color-dark;
        font-size: vw(20, 1920);

        span {
          font-size: vw(30, 1920);
        }
      }
    }
  }

  &--fade {
    .main-slider {
      &-slide {
        pointer-events: none;
        transition-property: opacity;

        &--active {
          pointer-events: auto;
        }
      }
    }
  }

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    justify-content: space-between;
    transform: translate3d(0px, 0, 0);

    transition-duration: 1.5s !important;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  }

  @keyframes bg-anim {
    0% {
      background-position: center;
    }

    100% {
      background-position: 30% 30%;
    }
  }

  @keyframes bg-anim-md {
    0% {
      background-size: 108vw;
    }

    100% {
      background-size: 100vw;
      background-position: 100%;
    }
  }

  &-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1px;
    transform: translate3d(0px, 0, 0);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-position 2s ease;

    @include media-breakpoint-up(xl) {
      background-size: 108vw;
      background-position: 100%;
    }

    &.bg-construction {
      .circle-btn {
        @include media-breakpoint-down(lg) {
          top: vw(88, 375);
          right: vw(18, 375);
        }

        @include media-breakpoint-up(xl) {
          top: 25vw;
          left: 6.8vw;
        }
      }
    }

    &:not(.bg-construction) {
      .circle-btn {
        top: vw(200, 375);
        right: vw(18, 375);

        @include media-breakpoint-up(xl) {
          top: vw(360, 1920);
        }
      }
    }
  }

  &-pagination {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 0 4px rgba($color-dark, 0.25);
    justify-content: space-around;
    z-index: 99;
    background-color: $color-white;

    > * {
      &.active {
        color: $color-cherry;
      }
    }

    @include media-breakpoint-down(lg) {
      bottom: 0;
      width: 100%;
      padding: 12px 20px;
      transition: bottom 400ms ease;
    }

    @include media-breakpoint-up(xl) {
      width: vw(698, 1920);
      padding: 13px;
      border-radius: 5px;
    }

    > * {
      font-family: $FontFamilySerif;
      font-weight: 500;
      text-align: center;
      cursor: pointer;

      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;

      font-size: vw(14, 375);
      text-transform: uppercase;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      small {
        text-transform: capitalize;
        font-size: vw(12, 375);
      }

      @include media-breakpoint-up(xl) {
        font-size: vw(27, 1920);

        small {
          font-size: vw(25, 1920);
          text-transform: capitalize;
        }
      }

      + * {
        border-left: 1px solid $color-dark;
      }
    }

    @include media-breakpoint-up(xl) {
      bottom: vw(47, 1920);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:not(.is-active) {
    .main-slider-slide {
      &:not(.bg-construction) {
        .main-slider-title {
          @include media-breakpoint-down(lg) {
            top: vw(81, 375);
            left: vw(39, 375);
            font-size: vw(48, 375);
          }

          @include media-breakpoint-up(xl) {
            top: vw(550, 1920);
            // right: vw(260, 1920);
            left: 36vw;
          }
        }

        .main-slider-subtitle {
          @include media-breakpoint-down(lg) {
            top: vw(120, 375);
            left: vw(60, 375);
            font-size: vw(29, 375);
          }

          @include media-breakpoint-up(xl) {
            top: vw(660, 1920);
            left: 36vw;
            // right: vw(411, 1920)
          }
        }
      }

      &.bg-construction {
        .main-slider-title {
          @include media-breakpoint-down(lg) {
            top: vw(160, 375);
            left: vw(23, 375);
            font-size: vw(60, 375);
          }

          @include media-breakpoint-up(xl) {
            top: vw(220, 1920);
            left: vw(131, 1920);
            font-size: vw(140, 1920);
          }
        }

        .main-slider-subtitle {
          @include media-breakpoint-down(lg) {
            top: vw(280, 375);
            left: vw(23, 375);
            font-size: vw(35, 375);
          }

          @include media-breakpoint-up(xl) {
            top: vw(340, 1920);
            left: vw(131, 1920);
            font-size: vw(80, 1920);
          }
        }

        .construction-menu {
          opacity: 0;
          visibility: hidden;
          z-index: -1;
        }
      }
    }
  }

  &.is-active {
    .main-slider-slide {
      .project-btn {
        top: vw(325, 375);
        right: vw(25, 375);
      }

      &:not(.bg-construction) {
        .main-slider-title {
          @include media-breakpoint-down(lg) {
            top: vw(100, 375);
            left: vw(52, 375);
            font-size: vw(47, 375);
          }

          @include media-breakpoint-up(xl) {
            top: vw(440, 1920);
            right: vw(166, 1920);
            font-size: vw(64, 1920);
          }
        }

        .main-slider-subtitle {
          @include media-breakpoint-down(lg) {
            top: vw(140, 375);
            left: vw(52, 375);
            font-size: vw(26, 375);
          }

          @include media-breakpoint-up(xl) {
            top: vw(500, 1920);
            right: vw(166, 1920);
            font-size: vw(54, 1920);
          }
        }

        .circle-btn {
          transform: translate(150%, 0) rotate(45deg);
        }
      }

      &--active {
        &.bg-construction {
          .circle-btn {
            transform: translate(150%, 0) rotate(45deg);
            @include media-breakpoint-up(xl) {
              transform: translate(-150%, 0) rotate(-45deg);
            }
          }
        }
      }

      &.bg-construction {
        .main-slider-title {
          @include media-breakpoint-down(lg) {
            top: vw(45, 375);
            left: vw(48, 375);
            font-size: vw(49, 375);
          }

          @include media-breakpoint-up(xl) {
            top: vw(327, 1920);
            left: vw(160, 1920);
            font-size: vw(91, 1920);
          }
        }

        .main-slider-subtitle {
          @include media-breakpoint-down(lg) {
            top: vw(140, 375);
            left: vw(48, 375);
            font-size: vw(29, 375);
          }

          @include media-breakpoint-up(xl) {
            top: vw(400, 1920);
            left: vw(160, 1920);
            font-size: vw(52, 1920);
          }
        }

        .construction-menu {
          opacity: 1;
          visibility: visible;
          z-index: 29;
        }
      }
    }

    .main-slider-slide {
      animation: bg-anim 400ms ease-in;
      background-position: 30% 30%;
      will-change: background-position, background-size;

      @include media-breakpoint-up(md) {
        animation: bg-anim-md 300ms ease-out;
        background-size: 100vw;
        background-position: 100%;
      }
    }

    @include media-breakpoint-down(sm) {
      height: vw(547, 375);
      z-index: 999;
    }

    @include media-breakpoint-up(xl) {
      .main-slider-menu {
        transform: translateX(0);
      }
    }
  }
}

[construction-title] {
  @include media-breakpoint-down(lg) {
    max-width: 50%;
  }
}
