.menu {
  @include media-breakpoint-down(lg) {
    &--projects {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      background-color: $color-white;
      transition: all 1s ease-in;

      padding: 30px;
      text-align: center;

      &:not(.show) {
        opacity: 0;
        z-index: -1;
        visibility: hidden;
      }

      .menu {
        display: flex;
        flex-direction: column;
        height: 85%;
        overflow-y: auto;

        &-title {
          position: relative;
          display: block;
          font-size: vw(35, 375);
          line-height: 2;

          + * {
            margin-top: 1.25rem;
          }

          &::before {
            content: "";
            position: absolute;
            width: 75%;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            height: 1px;
            background-color: $color-light-grey-blue;
          }
        }

        &__item {
          font-family: $FontFamilySansSerif;
          font-size: vw(20, 375);
          line-height: 1.47;
          padding: 0.5rem 0;

          + * {
            border-top: 1px solid rgba($color-dark, 0.1);
          }

          a {
            line-height: inherit;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &--projects {
      display: none;
    }
  }
}
