.pd {
  &-section {
    padding-bottom: 5vh;

    @include media-breakpoint-up(md) {
      background-position: 90% bottom;
      background-size: 38%;
      background-repeat: no-repeat;
      background-image: url("../../images/svg/projects-bg.svg");

      [class*="col"] {
        position: unset;
      }

      .project-title {
        position: absolute;
        top: calcPercent(225, 1080) + vh;
        right: calcPercent(100, 1920) + vw;
      }
    }

    &__headings {
      max-width: calcPercent(345, 375) * 1%;
      margin: 0 auto;
      padding-top: 15px;

      @include media-breakpoint-up(md) {
        padding-top: calcPercent(200, 1080) + vh;
        max-width: calcPercent(1640, 1920) + vw;

        + * {
          margin-top: calcPercent(96, 1080) + vh;
        }
      }
    }

    &__logo {
      $val: calcPercent(62, 375) + vw;
      flex: 0 0 $val;
      max-width: $val;

      @include media-breakpoint-up(md) {
        $val: calcPercent(137, 1920) + vw;
        flex: 0 0 $val;
        max-width: $val;

        img {
          max-width: unset;
          width: 100%;
        }
      }
    }

    &__details {
      @include media-breakpoint-up(md) {
        > [class*="col"] {
          &:first-child {
            $val: calcPercent(690, 1640) * 1%;
            flex: 0 0 $val;
            max-width: $val;
            padding-right: calcPercent(157, 1920) * 1%;
          }

          &:last-child {
            $val: calcPercent(950, 1920) * 1%;
            flex: 0 0 $val;
            max-width: $val;
          }
        }
      }
    }

    .slider-container {
      img {
        @include media-breakpoint-down(sm) {
          height: calcPercent(220, 667) + vh;
          object-fit: cover;
        }
      }
    }

    .slider-pagination {
      width: 100%;
      left: 0;
      bottom: 12px;
    }
  }

  &-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    > * {
      width: 100%;
      min-height: 1px;

      @include media-breakpoint-down(sm) {
        &:last-child {
          order: -1;
        }
      }
    }
  }
}
