.projects {
  &-menu {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }

    + * {
      @include media-breakpoint-up(xl) {
        margin-left: calcPercent(20, 1920) + vw;
        padding-left: calcPercent(20, 1920) + vw;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 100%;
          background-color: $color-black;
        }
      }
    }

    &__item {
      color: $color-warm-grey;
      text-align: center;

      &.active {
        color: $color-dark;
      }

      @include media-breakpoint-down(md) {
        padding-top: 20px;
        padding-bottom: 20px;

        + * {
          border-top: 1px solid $color-light-grey-blue;
        }
      }

      @include media-breakpoint-up(xl) {
        text-align: right;
      }
    }

    &__link {
      font-family: $FontFamilySerif;
      font-size: 30px;
      line-height: 1.7;
      letter-spacing: 6px;
      color: inherit;

      @include media-breakpoint-up(xl) {
        font-size: fluidSize(16, 40, 768, 1920);
        line-height: 1.28;
        letter-spacing: -0.045vw;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &-submenu {
      position: relative;
      display: flex;
      flex-direction: column;

      &__item {
      display: inline-block;
        color: $color-warm-grey;
        font-family: $FontFamilySansSerif;
        font-size: fluidSize(14, 20, 768, 1920);
        line-height: 1.4;
        letter-spacing: -0.022vw;
        text-align: left;
        transition: color 200ms;

        &:hover {
          color: $color-dark;
        }

        &.active {
          color: $color-dark;
        }
      }

      &__link {
        color: inherit;
      }
    }
  }

  &-menus-section {
    @include media-breakpoint-up(xl) {
      width: calcPercent(900, 1920) + vw;
      margin-right: auto;
    }
  }

  &-section {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(md) {
      justify-content: center
    }

    .title {
      @include media-breakpoint-up(xl) {
        text-align: left;
      }
      + * {
        margin-top: 57px;

        @include media-breakpoint-up(xl) {
          margin-top: calcPercent(82, 1080) + vh;
        }
      }
    }

    padding-bottom: 75px;

    @include media-breakpoint-up(xl) {
      padding-bottom: calcPercent(202, 1080) + vh;
      margin-right: calcPercent(-140, 1920) + vw;
    }
  }

  &-details {
    &-section {

      @include media-breakpoint-down(md) {
        display: none
      }

      @include media-breakpoint-up(xl) {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;

        [data-elem="project-logo"] {
          width: calcPercent(100, 1920) + vw;
          max-width: unset;
          height: auto;
        }

        [data-elem="project-details-image"] {
          width: 100%;
          height: calcPercent(400, 1080) + vh;
          object-fit: cover;

          margin-top: calcPercent(60, 1080) + vh;
        }
      }
    }
  }
}
