.quality-assurance-section {
    position: relative;

    @include media-breakpoint-up(md) {
        display: flex;
        height: calcPercent(725,1080) + vh;
    }

    &__image {
        @include media-breakpoint-down(sm) {
            height: calcPercent(717,667) + vh;
        }

        @include media-breakpoint-up(md) {
            width: calcPercent(690,1920) + vw;
            height: calcPercent(521,1080) + vh;
            margin-left: auto;
        }

        .figure {
            &__item {
                max-height: calcPercent(717,667) + vh;

                @include media-breakpoint-up(md) {
                    max-height: calcPercent(521,1080) + vh;

                }
                &-fill {
                    padding-bottom: 717 / 375 * 100%;

                    @include media-breakpoint-up(md) {
                        padding-bottom: 521 / 690 * 100%;
                    }
                } 
            }
        }

        + * {
            @include media-breakpoint-up(md) {
                padding-top: calcPercent(168,1080) + vh;
                max-width: calcPercent(415,1920) + vw;
            }
        }
    }
}