html {
    overflow-x: hidden
}

a {
    color: inherit;
    transition: color $duration ease;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.mb-33 {
    margin-bottom: calcPercent(33,667) + vh;

    @include media-breakpoint-up(md) {
        margin-bottom: calcPercent(33,1080) + vh;
    }
}

.mt-md-56 {
    @include media-breakpoint-up(md) {
        margin-top: calcPercent(56,1080) + vh;
    }
}

h1,h2,h3,h4,h5,h6,ul,figure {
    margin-bottom: 0;
}