.title {
  font-family: $FontFamilySerif;
  font-size: 34px;
  line-height: 1.03;
  font-weight: 700;
  letter-spacing: -0.73px;
  color: $color-cherry;
  text-align: center;

  + * {
    margin-top: 33px;

    @include media-breakpoint-up(xl) {
      margin-top: calcPercent(34, 1080) + vh;
    }
  }

  @include media-breakpoint-up(xl) {
    font-size: fluidSize(20, 35, 768, 1920);
    letter-spacing: -0.056vw;
  }

  &-section {
    + * {
      margin-top: 33px;

      @include media-breakpoint-up(xl) {
        margin-top: calcPercent(34, 1080) + vh;
      }
    }
  }
}

.subtitle {
  font-family: $FontFamilySerif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: $color-black;
  text-align: center;

  + * {
    margin-top: 33px;

    @include media-breakpoint-up(xl) {
      margin-top: calcPercent(34, 1080) + vh;
    }
  }

  @include media-breakpoint-up(xl) {
    font-size: fluidSize(16, 25, 768, 1920);
    letter-spacing: 0.0125vw;
    text-align: left;
  }
}

.description {
  font-family: $FontFamilySansSerif;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.016vw;
  color: $color-dark;
  text-align: center;

  + .description {
    margin-top: vw(16, 1920);
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xl) {
    text-align: left;
    font-size: fluidSize(13, 15, 1280, 1920);
    letter-spacing: fluidSize(0.1, 0.5, 1280, 1920);
    font-weight: 300;

    br {
      content: "";
      margin: 2em;
      display: block;
      font-size: 24%;
    }
  }
}

.project {
  &-title {
    font-family: $FontFamilySerif;
    font-size: 25px;
    line-height: 1.12;
    font-weight: 700;
    letter-spacing: vw(-0.54, 375);

    @include media-breakpoint-up(xl) {
      max-width: 30vw;
      font-size: vw(40, 1920);

      br {
        display: none;
      }
    }
  }
}

[project-description] {
  ul {
    list-style-type: disc;
    padding-left: 0.725rem;

    column-count: 2;

    li {
      line-height: 1.47;

      + * {
        margin-top: 0.25rem;
      }
    }
  }
}
