@font-face {
    font-family: "Big Caslon";
    src: url($fa-font-path + "/BigCaslonMedium.ttf") format('truetype')
}

@font-face {
    font-family: "FuturaPT";
    src: url($fa-font-path + "/FuturaPTBook.otf")
}