@font-face {
    font-family: "Big Caslon";
    src: url("../../fonts/BigCaslonMedium.ttf") format('truetype')
}

@font-face {
    font-family: "FuturaPT";
    src: url("../../fonts/FuturaPTBook.otf")
}