.footer {
  position: relative;
  background-color: $color-dark;
  color: $color-white;
  padding-top: 45px;
  padding-bottom: 135px;

  a {
    color: inherit;
  }

  .order--1 {
    @include media-breakpoint-down(lg) {
      order: -1;
      margin-bottom: 22px;
    }
  }

  .input-section {
    @include media-breakpoint-up(xl) {
      width: calcPercent(398, 1920) + vw;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: calcPercent(25, 1080) + vh;
    padding-bottom: calcPercent(25, 1080) + vh;
  }

  &-container {
    padding-left: 40px;
    padding-right: 40px;

    @include media-breakpoint-up(xl) {
      padding-left: calcPercent(108, 1920) + vw;
      padding-right: calcPercent(140, 1920) + vw;
    }
  }

  &-title {
    font-family: $FontFamilySerif;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.73px;
    color: inherit;

    @include media-breakpoint-up(xl) {
      font-size: vw(34, 1920);
    }

    + * {
      &.row {
        > * {
          + * {
            @include media-breakpoint-down(lg) {
              margin-top: 39px;
            }
          }
        }
      }
    }

    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }

  &-subtitle {
    font-family: $FontFamilySerif;
    font-size: 18px;
    line-height: 2.83;
    letter-spacing: -0.39px;
    color: inherit;

    @include media-breakpoint-up(xl) {
      font-size: fluidSize(14, 18, 768, 1920);
      letter-spacing: -0.016vw;
    }
  }

  &-description {
    font-family: $FontFamilySansSerif;
    font-size: 14px;
    text-align: center;
    line-height: 1.43;
    letter-spacing: -0.3px;
    color: $color-steel;

    @include media-breakpoint-up(xl) {
      font-size: fluidSize(10, 14, 768, 1920);
      letter-spacing: -0.016vw;
      text-align: left;
    }
  }

  [class*="form-control"] {
    + * {
      margin-top: vw(22, 375);

      @include media-breakpoint-up(xl) {
        margin-top: vw(14, 1920);
      }
    }
  }

  &-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      margin-top: 56px;
      margin-bottom: 40px;
    }

    &__item {
      position: relative;
      color: $color-white;
      padding: 0 1rem;
      font-size: 10px;

      @include media-breakpoint-down(sm) {
        &:nth-child(3) {
          &::before {
            background-color: transparent;
          }
        }

        &:not(:nth-child(-n + 2)) {
          margin-top: 1rem;
        }
      }

      + * {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: $color-white;
        }
      }
    }

    &__link {
      color: inherit;
    }
  }

  .akka-group-section {
    @include media-breakpoint-up(xl) {
      margin-top: calcPercent(46, 1080) + vh;
    }
  }

  &-copyright {
    font-family: $FontFamilySansSerif;
    font-size: 14px;
    line-height: 2;
    letter-spacing: -0.3px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      margin-top: 40px;
    }

    @include media-breakpoint-up(xl) {
      font-size: fluidSize(10, 14, 768, 1920);
      letter-spacing: -0.016vw;
    }
  }
}
