.header {
  position: fixed;
  background-color: $color-white;
  z-index: 999;

  &:not(.is-shown) {
    @include media-breakpoint-down(sm) {
      .header-menu {
        opacity: 0;
        z-index: -1;
        visibility: hidden;
      }
    }
  }

  &.is-shown {
    z-index: 1003;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    left: 0;
    bottom: 0;

    .header-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1003;
      transition: all 0.4s linear;

      padding-top: calcPercent(75, 667) + vh;

      background-image: url("../../images/svg/header-menu-bg.svg");
      background-position: -20% bottom;
      background-repeat: no-repeat;
      background-size: 50%;

      &__item {
        + * {
          margin-top: calcPercent(40, 667) + vh;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    position: absolute;
    width: 100%;
    background-color: transparent;
    transition: transform $duration ease;

    &.tr {
      transform: translateY(-100%);
    }

    &.scrolled {
      position: fixed;
      background-color: $color-white;
      box-shadow: 0 0 1px rgba($color-black,0.25);

      .header-nav {
        padding: 15px;
      }

      .header-logo {
        max-width: calcPercent(100,1920) + vw;
        transition: unset
      }
    }
  }

  &.is-shown {
    @include media-breakpoint-down(sm) {
      .hamburger {
        position: fixed;
        top: 15px;
        z-index: 1004;

        div {
          &:first-child {
            width: 27px;
            transform: rotate(-45deg);
            transform-origin: right top;
          }

          &:nth-child(2) {
            border-color: transparent;
          }

          &:last-child {
            width: 27px;
            transform: rotate(45deg);
            transform-origin: right bottom;
          }
        }
      }

      .header {
        &-logo {
          position: absolute;
          right: 15px;
          bottom: 10vh;
          z-index: 22;

          img {
            width: 75%;
          }
        }
      }
    }
  }

  &.is-white {

    .header-logo {
      width: calcPercent(170,1920) + vw;

      img {
        content: url("../../images/svg/footer-logo.svg");
      }
    }

    .header-menu {
      &__item {
        color: $color-white
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 25px 30px;

    @include media-breakpoint-up(md) {
      max-width: calcPercent(1640, 1920) + vw;
      margin-left: auto;
      margin-right: auto;
      $pa: calcPercent(36, 1080) + vh;
      padding-top: $pa;
      padding-bottom: $pa;
    }
  }

  &-logo {
    display: inline-block;
    transition: all $duration ease;
    max-width: 90px;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    @include media-breakpoint-up(md) {
      max-width: fluidSize(90, 160, 768, 1920);
    }
  }

  .hamburger {
    @include media-breakpoint-down(sm) {
      position: absolute;
      right: 30px;
      width: 25px;
      border-color: $color-black;

      div {
        border-top: 3px solid;
        width: 100%;
        margin-top: 6px;
        transition: all 0.33s cubic-bezier(0.33, 0, 0.2, 1);
      }
    }
  }

  &-menu {
    position: relative;
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-direction: column;

    transition: opacity $duration ease;
    transition-delay: 200ms;
    z-index: 21;

    @include media-breakpoint-down(sm) {
      background-color: $color-white;
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      margin-left: auto;
    }

    &__item {
      position: relative;
      color: $color-black;
      text-align: center;

      + * {
        margin-left: calcPercent(32, 1920) + vw;
      }
    }

    &__link {
      font-family: $FontFamilySerif;
      font-size: 26px;
      line-height: 1.58;
      letter-spacing: -0.56px;
      text-transform: uppercase;
      color: inherit;

      @include media-breakpoint-up(md) {
        font-size: fluidSize(14, 16, 768, 1920);
        letter-spacing: -0.017vw;
      }
    }
  }
}
