a {
  color: $color-black;
}

body {
  // display: none
  * {
    will-change: auto;
  }
}

.container {
  @include media-breakpoint-up(md) {
    max-width: calcPercent(1670, 1920) + vw;
  }
}

.text-mustard {
  color: $color-light-mustard !important;
}
